<h1>Hola {{nombre}}</h1>
<p>Para responder la encuesta, usa este enlace:</p>
<a href="{{enlaceRespuestas}}">{{enlaceRespuestas}}</a>

<p>También podés escanear el siguiente código QR:</p>
<img src="{{urlQr}}" alt="Código QR para la encuesta" style="width: 200px; height: 200px;" />

<p>Para ver los resultados, usá este enlace:</p>
<a href="{{enlaceResultados}}">{{enlaceResultados}}</a>

<p>Para editar la encuesta, usá este enlace:</p>
<a href="{{enlaceEditar}}">{{enlaceEditar}}</a>
